main {
    /* height: 100vh; */
    background-image: url("../../images/box-bg.png");
    /* background-repeat: ; */
    background-size: 60%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 10vh 5vh; */
    /* column-gap: 130px; */

    padding: 10vh 20vh;
    padding-top: 28vh;

    font-family: century gothic;
    font-weight: bold;
}

.item-container {
    margin: 10vh 5vh;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 40vh;
    /* padding: 20px; */

    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .3) ;
    transition: .3s;
}



.item-container img {
    margin: 0;
    width: 100%;
}

.item-container h1 {
    font-size: 3.5vh;
    margin: 0;
}

.item-name {
    background-color: white;
    padding: 1vh 1vh;
    display: flex;
    justify-content: center;

    color: #1b2631;
}

.image-container {
    position: relative;
    color: #EDF2F4;
    font-size: 2.8vh;
}
.badge_terjual {
    border-end-start-radius:1vh ;
    padding: .1vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgb(255, 45, 45);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
}

.badge_ada {
    border-end-start-radius:1vh ;
    padding: .1vh;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    background-color: rgb(255, 45, 45);
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
}

.badge_terjual p, .badge_ada p {
    margin: 2px 5px;
}



@media screen and (max-width: 768px) {
    main {
        /* background-repeat: ; */
        background-size: 80%;
    
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10vh 1vh;
        /* column-gap: 130px; */
    
        padding: 12vh 0vh 16vh 0vh ;
        padding-top: 22vh;
    
        font-family: century gothic;
        font-weight: bold;
    }

    
    .item-container {
        display: flex;
        flex-direction: column;
        /* background-color: red; */
        width: 20vh;

        border-radius: 1vh;
        overflow: hidden;
        box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .3) ;
        margin: 0vh 3vh;
    }

    .image-container {
        position: relative;
        color: #EDF2F4;
        font-size: 1.6vh;
    }
    .badge {
        border-end-start-radius:1vh ;
        padding: .1vh;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        background-color: rgb(255, 45, 45);
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .3);
    }

    .badge p {
        margin: 2px 5px;
    }

    .item-container img {
        margin: 0;
        width: 100%;
    }

    .item-container h1 {
        font-size: 3.5vh;
        margin: 0;
    }

    .item-name {
        background-color: white;
        padding: 1vh 1vh;
        display: flex;
        justify-content: center;

        color: #1b2631;
    }

}
