main {
    /* height: 100vh; */
    background-image: url("../../images/box-bg.png");
    /* background-repeat: ; */
    background-size: 60%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10vh 5vh;
    /* column-gap: 130px; */

    padding: 10vh 0vh;

    font-family: century gothic;
    font-weight: bold;
}

.item-container {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 20vh;
    /* padding: 20px; */

    border-radius: 1vh;
    overflow: hidden;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, .3) ;
    
}

.item-container img {
    margin: 0;
    width: 100%;
}

.item-container h1 {
    font-size: 3.5vh;
    margin: 0;
}

.item-name {
    background-color: white;
    padding: 1vh 1vh;
    display: flex;
    justify-content: center;

    color: #1b2631;
}